@import "/src/styles/extend.scss";

div.category-filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    direction: ltr;
    @include media-breakpoint-down(xxl) {
            // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    // @include media-breakpoint-down(xl) {
    //     max-width: 900px;
    // }
}

button.category-filter-button {
    padding: 0.3rem 2rem;

    outline: none !important;
    box-shadow: none !important;
    text-align: center !important;

    background-color: var(--theme-boards-background);
    border: 2px solid var(--theme-card-background)!important;
    color: var(--theme-texts-light-1);
    transition: none;
    padding: 15px !important;

    @include media-breakpoint-down(lg) {
        border-width: 1px!important;
        min-width: 15%;
        border-radius: 40px !important;
    }

    @include media-breakpoint-down(sm) {
        padding: 0.3rem 0;
    }
}

button.category-filter-button:hover, button.category-filter-button:focus {
    background-color: var(--theme-links-hover);
    color: var(--theme-texts-inv);
}

button.category-filter-no-hover-effects {
    background-color: var(--theme-boards-background)!important;
    color: var(--theme-texts-light-1)!important;
}

button.category-filter-button:active, button.category-filter-button-selected {
    background-color: var(--theme-primary)!important;
    color: var(--theme-texts-inv)!important;
}

button.category-filter-button-selected {
    user-select: none;
    pointer-events: none;
}

span.category-filter-button-label {
    user-select: none;
    pointer-events: none;
}

span.category-filter-button-count {
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
    user-select: none;
    pointer-events: none;
    @include media-breakpoint-down(sm) {
        display: none;
    }
}